* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto", serif;
}

body {
    background-image: url('img/fundo-imagem.jpg'); 
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    margin-bottom: 40px;
    background-color: #bbbaba;
    color: #0c0c0c;
    border-radius: 16px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

form {
    width: 640px;
    align-items: center;
    justify-content: center;
    margin: 32px auto;
    padding: 16px;
    background-color: #2d9e95;
    color: #fff;
    border: solid 2px #000000;
    border-radius: 8px;
    box-shadow: 0 0 16px #2e8f46;
}

form input, button {
    width: 600px;
    height: 32px;
    margin-bottom: 12px;
    padding-left: 4px;
    border: solid 0.5px;
    border-radius: 16px;
}

form button {
    font-size: 14px;
    font-weight: none;
    color: #fff;
    background-color: #470606;
    padding: 0;
    border: none;
}

form button:hover {
    scale: 1.02;
    box-shadow: 0 0 16px #3859e9;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: separate; /* Usar separate para manter o arredondamento nas células */
    border-spacing: 0; /* Remove o espaçamento entre as células */
    border: solid 1px #e0cd98;
    border-radius: 16px;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse as bordas arredondadas */
}

table thead {
    background-color: #8ff094;
    color: #000000;
}

table th {
    font-size: 24px;
    font-weight: bold;
    padding: 16px;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

tbody tr {
    color: #0c0c0c;
    background-color: #8ff094;
}